/*^reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*^General*/
:root{
  --primary:#be2529;
  --dark:#333;
  --secondary:#0d0d0d;
  --gray:#ddd;
  --white:#faf5f5;
}
a{
  /* font-size: 1.6rem; */
  text-decoration: none;
  color: var(--dark);
}
body{
    font-family: serif;
}
p{
  font-family:'Cormorant Garamond' ;
  margin: 1rem 0 ;
}
img{
  max-width: 100%;
  }
.btn{
  
    padding: 0.8rem ;
    border-radius: 11px;
    cursor: pointer;
}
.container{
  display: block;/*les elements sont superpose*/
    height: 1000px;
    max-width: 1100px;/*work with display block*/
    margin: auto;
    
}
/*^Header*/
header{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    margin-bottom: 2rem;


}
header .logo{
  font-size: 2rem;
    font-family: "Staatliches", cursive;
}
header a{
display: block;

}
header ul{
    display: flex;
    align-items: center;
     
}
.connex-col{
  color: var(--primary);
  text-decoration: none;
}
.btn-color{
  color: var(--primary);
  border: 1px solid var(--primary) ;
  background-color: white;
}

header ul li {
    list-style: none;
    margin: 0 1rem;
}

/*^nav-bar*/
nav{
    display: flex;
    justify-content: space-between;
    position : sticky;
    top: 0;
    background: #fff;
    padding: 1rem;
}
nav a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 14px;  
    font-family:'Cormorant Garamond' ;
    
}
/*^Articles*/
.articles{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:auto ;
  gap: 1.25rem;
}
.articles h3{
  font-size: 1rem;
  font-weight: 549;
}

.article:first-child{
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.article h3 {
  padding-top: 0.5rem;
}
.article:last-child{
  grid-column: 3/4;
  grid-row: 1/4;
}

.article-small {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 80px auto;
    grid-template-rows: 80px;
    grid-auto-rows: auto;
}

.article-content {
  grid-column: span 2;
  margin-bottom: 10px ;
}
.article-small .article-content{
  grid-column: span 2;
  max-height: 6rem;
  overflow: hidden;
}
.article-small p{
  margin: 0.5rem 0;
}
.article-author{
    grid-column: span 2;
    font-weight: 600;
    font-size: 0.9rem;
}
.date-content{
  grid-column: 1 / 3;
font-size: 0.8rem;
}
.fa-solid{
  margin-left: 1rem;
  
}
.fa-star{
  color: rgb(112, 107, 107);
}
.line1{
margin-bottom: 1rem;
color: rgb(233, 228, 228);
}
/*^contact*/
.contact{
  background-color:var(--gray);
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 200px 1fr auto 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-areas: 
  "img . . ."
  "img . h1 ."
  "img . p ."
  "img . form ."
  "img . . ." ;
}
.contact img{
  grid-area: img;
  
}
.contact h1{
grid-area: h1;
font-size: 2.5rem;
font-weight: normal;

}
.contact p{
grid-area: p;
}
.contact form{
grid-area: form;

}
.contact form input{
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 0.5rem 0;
  background: var(--gray);
  margin-right: 2rem;
  
  }
  .btn-contact{
    
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
  }
  .btn-dark{
    color: var(--white);
    background: var(--secondary);
  
  }








/*^technologie*/
.all-content{
  display: flex;
  align-items: start;
}
.underline{
padding-bottom: 1rem;
border-bottom: 1px solid rgb(186, 184, 184);
margin: 1.7rem 0;
}
.article-tech article{
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: auto;
  grid-template-areas: 
  "h3 img"
  "p img"
  "author img"
  "date .";
  padding: 0.5rem;
}
.article-tech article h3{
  grid-area: h3;
}
.article-tech article p{
  grid-area: p;
  margin: 0.2rem 0;
}
.article-tech article .article-author{
  grid-area: author;
}
.article-tech article .date-article{
  grid-area: date;
  font-size: 0.8rem;
}
.article-tech article img{
  grid-area: img;
}
/*^Popular*/
.popular{
  position: sticky;
  top: 35px;
  padding:0 25px;
}
.popular ul li{
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  
}
.popular ul li .date-article{
  font-size: 0.8rem;
}
.popular ul li .number{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.875rem;
}